.DS_Store

# Environment files
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Go
bin/
build/
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Docker
docker-compose.override.yml

# Locust reports
*.csv
*.html
reports/

# IDEs
.vscode/
.idea/
